* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #000;
}

header {
  width: 100%;
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section{

}


header .navbar {
  position: relative;
  padding: 13px 10px;
  border-radius: 10px;
}

header .navbar a {
  position: relative;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 10px;
  padding: 13px 10px;
  color: #fff;
  z-index: 2;
}


header .links a {
  font-size: 24px;
  color: #fff;
  margin-left: 20px;
  transition: 0.4s ease;
}

header .links a:hover {
  color: #00f164;
}

.Home {
  height: 100vh;
  padding-left: 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Home .content h4 {
  font-size: 50px;
  color: #fff;
  text-transform: capitalize;
  font-style: bold;
  letter-spacing: 1px;
}

.Home .content h1 {
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.Home .content h1 span {
  color: #527192;
}

.Home .content h3 {
  font-size: 32px;
  color: #c3c1c1;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.Home .content p {
  color: white;
  margin: 20px 0 30px;
}
.Home .content a{
    color: white;
} 

.Home .content .btn {
  display: inline-block;
  padding: 8px 32px 0px 32px;
  border: double #315983 8px;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
  text-decoration: none;
  color: #ffffff;
  position: relative;
  z-index: 99;
  transition: 0.4s ease;
}

.Home .content .btn:hover {
  color: #000;
}

.Home .content .btn::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background-color: #718295;
  left: 0;
  top: 0;
  right: 0;
  z-index: -1;
  transition: 0.4s ease-in-out;
}

.Home .content .btn:hover::before {
  width: 100%;
}

.Home .content  {
  position: absolute;
  /* bottom: 10%; */
}


.Home .content a .btn{
    width: 30px;
    padding: 20px;
}


.Home img {
  height: 500px;
  /* margin-top: 40px; */
  cursor: pointer;
  transition: 0.4s linear;
  margin-left: 800px;

}

.Home img:hover {
  transform: scale(1.1);
}

.elements img{
    height: 30px;
    width: 30px;
    display: inline;
    margin: 0;
    /* margin-top: 2px; */
    padding: 5px;
}

.section-title{
   color: white;
   font-weight: 200; 
  margin-left: 35%; 
  padding: 20px;
   font-size: 70px;
   padding-top: 20px;
}
.about_container{
  display: flex;
  color: white;
align-items: center;

}

.about__img img{
  height: 350px;
}
.about__subtitle{
  padding-left: 50px;
  font-size: 40px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.about__text{
  padding: 40px;
  font-size: 20px;
  color: #c3c1c1;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  text-align: justify;
}